* {
    margin: 0;
}

nav {
    background-color: darkgray;
    height: 60px;
    text-align: right;
}

li {
    list-style: none;
    display: inline-block;
    line-height: 60px;
    margin-right: 50px;
}

nav a {
    text-decoration: none;
    color: black;
}

.activeLink {
    text-decoration: underline;
}

.content {
    padding: 40px;
}

.product a {
    color: red;
    text-decoration: none;
    display: block;
    margin: 10px 10px;
}

.website a {
    color: red;
}

p {
    margin: 10px 10px;
}
